.login-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcdcdc;
}
.login-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}
.login-header {
    text-align: center;
}
.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding-bottom: 5px;
    width: 100%;
    border-bottom: 1px solid black;
}
.input-text {
    width: 80%;
    font-size: 20px;
    border: none;
}
.button {
    margin: 10px auto;
    width: 40%;
}